@inherits ActuatorViewBase

<div class="actuator-card card">
    <div class="card-header text-center">@Actuator?.Description</div>
    <div class="card-body">
        <div class="ml-2">
            <div class="row center-content">
                <label class="my-auto">@Translate.LastUpdate: @Actuator.LastStateChange.ToString()</label>
            </div>
            <div class="row center-content">
                <label class="my-auto">@Translate.Deactivation: @Actuator.DeactivationTime.ToString()</label>
            </div>
            <div class="row center-content">
                <label class="my-auto">@Translate.LastMessage: @Actuator.Message</label>
            </div>
            <div class="row center-content">
                @if (Actuator.Active)
                {
                    <label class="my-auto ml-2">@Translate.Active</label>
                }
                else
                {
                    <label class="my-auto ml-2 label-error">@Translate.Inactive</label>
                }
            </div>
        </div>
    </div>
</div>