@inherits SensorViewBase

<div class="sensor-card card">
    <div class="card-header text-center">@Sensor?.Description</div>
    <div class="card-body">
        <EditForm Model="Sensor" class="ml-2">
            <div class="row center-content">
                <label class="my-auto">@Translate.ActiveFrom @Sensor.ActiveLowerBound @Translate.To @Sensor.ActiveUpperBound</label>
                <label class="my-auto ml-2">@Translate.Value</label>
                <InputText @bind-Value="ValueHandler" class="input-sm ml-2 my-auto" type="number" id="Value" />
            </div>
            <div class="row center-content">
                @if (Sensor.Active)
                {
                    <label class="my-auto ml-2">@Translate.Active</label>
                }
                else
                {
                    <label class="my-auto ml-2 label-error">@Translate.Inactive</label>
                }
            </div>
            <div class="row center-content">
                <button class="button-solid" @onclick="Confirm">@Translate.Confirm</button>
            </div>
        </EditForm>
    </div>
</div>